
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
    font-family: 'Karla', sans-serif;
    

    
   
}
.header{
    
   
    /* align-items: center; */
    background-color:transparent;
    /* display: inline-block; */
   /* display: grid; */
    height: 90px;
    padding-top: 20px;
}
.title{
    display: flex;
    
    padding-left: 100px;
    
   
    
}
.logo{
    color: aliceblue;
    margin-left: 10px;
   
    
}
.navbar{
    height:102px;
}
.ic-logo{
    color: white;
    margin: 5px;
    font-size:large;
    
    /* margin-top: 40px; */
   
}
.logo-cart{
    color: white;
    float:right;
    font-size:x-large;
    margin-top: 49px;
    margin-right: 30px;
   
}
.bg-img{
    width: 100%;
}
.main{
    
    box-shadow: inset -1px 30px 40px 0px rgba(7, 53, 37, 0.7),
    inset -1px 90px 20px 0px rgba(7, 53, 37, 0.4),
    inset -1px 100px 30px -70px rgba(7, 53, 37, 0.2); 
}
.background{
    height: 700px;
    background-image: url('/public/images/background3.jpg');
    
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.header-text{
    
    color: aliceblue;
    text-align: center;
    /* justify-content: center; */
    padding-top: 20%;
    font-size: 100px;
    line-height: 90px;
    
}
.headersub-text{
    color: rgba(202, 218, 231, 0.938);
    
    text-align: center;
    font-size: xx-large;
    padding-top:10px ;
    
}
.tog-btn{
    border-color: white;
}

.card-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;

}
/* --bs-border-color-translucent: rgba(0, 0, 0, 0.175); */
.card-body{
    height: 250.33px;
    

}
.card-btn{
    position: absolute;
    bottom: 10px;
    background-color: #BD4F0A;
    border-radius: 40px;
    

}
.btn-primary{
    --bs-btn-border-color: #BD4F0A;
--bs-btn-hover-color: #BD4F0A;
--bs-btn-hover-bg: #BD4F0A00;
--bs-btn-hover-border-color: #BD4F0A;
}
.card-img{
    height:500px ;
}
.crd-txt{
    margin-bottom: 10px;
    overflow: hidden;
}
.main-img{
    height: 400px;
    width:100%;
    margin-top: 50px;
}
.main-text{
    /* height: 204px; */
    overflow:auto;
    width:475px;
    margin-left: 10%;
    font-size: 4.12em;
    color: #BD4F0A;
    overflow-x: hidden;
}
.shoe-img{
    width: 360px;
    height: 219px;
    
}

.img-card{
  margin-top: 140px;
  width:366px;
}
.flower-img{
    margin-top: 350px;
    padding-right: 100px;
    height: 270px;
   
}

.main-text-div{
    height: 210px;
}

 .gall{
        margin-top: 40px;
       

 }
 .contact{
    background-color: #023120;
    /* width: 1294px; */
    /* height: 76.06vh; */
    margin-top: 40px;
    display: flex;
 
 }
 .contact-img{
    height:50%;
    /* width: 406px; */
   margin-left: 20%;
    /* margin-left: 130px; */
    margin-top: 100px;
    /* margin-right: 10%; */
 }
 .form-container{
    margin-top: 20px;
    color: antiquewhite
    
    
 }
 .form{
    margin-top: 20px;
    margin-left:100px;
 }
 .contactus{
   
    font-size: x-large;
    text-align: center;
    
 }
 .contactform{
    line-height: 5px;
   
   }
 #formName,#formEmail{
    width: auto;
 }
 #formMessage{
    width: 350px;
 }
 .subscribe{
    float:inline-start;
 }
 .submitbtn{
    --bs-btn-hover-bg:white;
    height: 50px;
    width: 89px;
    border-radius: 50px;
    /* margin-top: -20px; */
    background-color: #BD4F0A;
 }
 .footer{
    text-align: center;
    margin: 5px;
 }
   @media (max-width: 562px){
    .header-text{
        font-size: 70px;
        padding-top: 30%;
    }
    .main-text{
        
        font-size: 3.12em;
        margin-left:-50px ;
       text-align: center;
       
    }
    .flower-img{
        margin-top: -40px;
        margin-bottom: 50px;
    }

   }
   @media ( max-width: 380px){
    .main-text{
        margin-left: -75px;
        font-size: 2.22em;
    }
   }
   @media (max-width:504px){
    .form{
        margin-left: 1px;
    }
    #formMessage{
        width: auto;
    }
   }